<!DOCTYPE html>
<html>

<head>
    <title>友情链接 -
        <?php echo $config['title'];?>
    </title>
    <style>
        #percentageCounter{position:fixed; left:0; top:0; height:3px; z-index:99999; background-image: linear-gradient(to right, #E8EAF6,#C5CAE9,#9FA8DA,#7986CB,#5C6BC0,#3F51B5,#3949AB,#303F9F,#283593,#1A237E);border-radius:5px;}
    </style>
    <meta charset="utf-8" />
    <meta name="keywords" content="<?php echo $config['keywords'];?>" />
    <meta name="description" content="<?php echo $config['description'];?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <div id="percentageCounter"></div>
    <!-- <link rel="stylesheet" href="./assets/css/loadingr.css"/> -->
    <!-- <script src="./assets/js/loading.js"></script> -->
    <link rel="stylesheet" href="./assets/css/mdui.min.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="./assets/css/mdclub.css" />
    <link rel="stylesheet" href="/assets/css/loadingr.css" />
    <style id="style"></style>
    <style>
        .mdui-img-rounded {
            border-radius: 20px;
        }
    </style>
    <style type="text/css">
        .wrapper {
            text-align: center;
        }
        .wrapper .line {
            width: 20%;
            display: inline-block;
            border: 0.4px solid #ddd;
            vertical-align: middle;
        }
        .wrapper .content {
            color: #ccc;
            font-size: 14px;
        }
    </style>
</head>

<?php require "header.html";?>

<div class="mdui-container mdui-m-t-2" style="width:85%">
    <!-- <div class="mdui-card mdui-m-b-2">
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">如何申请？</div>
        </div>
        <div class="mdui-card-content">
            申请友情链接非常简单，你只需要将本站加为友情链接，然后按照以下格式发送至我的邮箱即可。<br>
            <ul>
                <li>友链名称：</li>
                <li>友链描述：</li>
                <li>友链地址：</li>
                <li>友链头像：</li>
            </ul>
            我的邮箱是：
            <?php echo $config['email'];?>，欢迎申请！<br> （友情链接随机展示，不分前后）
        </div>
    </div> -->
    <!-- <div class="mdui-card" id="link" v-if="links">
        <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">友情链接</div>
        </div>
        <div class="mdui-card-content">
            <ul class="mdui-list">
                <a class="mdui-list-item mdui-ripple" @click.prevent="jump(link.url)" v-for="link in links">
                    <div class="mdui-list-item-avatar"><img :src="link.picurl" /></div>
                    <div class="mdui-list-item-content">
                        <div class="mdui-list-item-title">{{ link.name }}</div>
                        <div class="mdui-list-item-text mdui-list-item-one-line">{{ link.desc }}</div>
                    </div>
                </a>
            </ul>
        </div>
    </div> -->

    <div class="mdui-row" id="link">
        <div class="mdui-col-sm-6 mdui-col-md-4" v-for="link in links" v-if="links">
            <div class="mdui-card mdui-m-y-1 mdui-hoverable " @click.prevent="jump(link.url)">
                <div class="mdui-card-header ">
                    <img class="mdui-card-header-avatar" :src="link.picurl">
                    <div class="mdui-card-header-title">{{ link.name }}</div>
                    <div class="mdui-card-header-subtitle">{{ link.desc }}</div>
                </div>
            </div>
        </div>
        
        <div class="mc-empty" style="background-image: url('assets/css/994575169312f0027615406d265202f2.png');" v-if="!links">
            <div class="title">
                尚未任何友链
            </div>
            <div class="description">
                添加友情链接后，将显示在这里
            </div>
        </div>
    </div>

</div>

<?php require "footer.html";?>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/mdui.min.js"></script>
<script src="./assets/js/index.js"></script>
<script src="./assets/js/vue.js"></script>
<script>
    let friendlink = new Vue({
        el: '#link',
        data: {
            links: [],
        },
        methods: {
            jump: function (url) {
                jump(url);
            }
        },
        created() {
            fetch('./Data/api.php?type=getAllLink&mod=rand')
                .then(response => response.json())
                .then(json => {
                    this.links = json.data;
                })
        }
    });
</script>
<script>
var OriginTitile = document.title,
titleTime;
document.addEventListener("visibilitychange",
function() {
    if (document.hidden) {
        
        document.title = "页面已崩溃！点击恢复！";
        clearTimeout(titleTime)
    } else {
        
        document.title = "(/≧▽≦/)咦！又好了！ " + OriginTitile;
        titleTime = setTimeout(function() {
            document.title = OriginTitile
        },
        2000)
    }
});
</script>
<script>
$(window).scroll(function() {
    var a = $(window).scrollTop(),
    c = $(document).height(),
    b = $(window).height();
    scrollPercent = a / (c - b) * 100;
    scrollPercent = scrollPercent.toFixed(1);
    $("#percentageCounter").css({
        width: scrollPercent + "%"
    });
}).trigger("scroll");
</script>
</div>
<div class="wrapper">
    <span class="line"></span>
    <span class="content">我也是有底线的（＞_＜）</span>
    <span class="line"></span>
</div>
</body>

</html>