<!DOCTYPE html>
<html>

<head>
    <title>就这 -
        <?php echo $config['title'];?>
    </title>
    <meta charset="utf-8" />
    <style>
        #percentageCounter{position:fixed; left:0; top:0; height:3px; z-index:99999; background-image: linear-gradient(to right, #E8EAF6,#C5CAE9,#9FA8DA,#7986CB,#5C6BC0,#3F51B5,#3949AB,#303F9F,#283593,#1A237E);border-radius:5px;}
    </style>
    <meta name="keywords" content="<?php echo $config['keywords'];?>" />
    <meta name="description" content="<?php echo $config['description'];?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <div id="percentageCounter"></div>
    <link rel="stylesheet" href="./assets/css/loading.css"/>
    <link rel="stylesheet" href="./assets/css/mdui.min.css" />
    <link rel="stylesheet" href="./assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/loadingr.css" />
    <link rel="stylesheet" href="./assets/css/mdclub.css" />
    <style id="style"></style>
    <style type="text/css">
        .wrapper {
            text-align: center;
        }
        .wrapper .line {
            width: 20%;
            display: inline-block;
            border: 0.4px solid #ddd;
            vertical-align: middle;
        }
        .wrapper .content {
            color: #ccc;
            font-size: 14px;
        }
    </style>
</head>

<?php require "header.html";?>
<div class="mdui-container " id="about">
    <div class="user mdui-card mdui-card-shadow ">
        <div class="cover" style="background-image: url('assets/images/user_bg.jpg');"></div>
        <div class="info">
            <div class="avatar-box">
                <img :src="info.qqhead" alt="avatar" class="avatar">
            </div>
            <div class="mdui-valign mdui-text-color-theme-text mdui-m-l-3 mdui-typo-display-1 mdui-float-right">{{ info.username }}提醒您(:</div>
        </div>
    </div>
    <div class="mdui-card mdui-m-t-2 ">
      <!--  <div class="mdui-card-primary ">
            <div class="mdui-card-primary-title"></div>
        </div>-->
        <div class="mdui-card-content">
            <div class="mdui-row mdui-text-center">
                <div class="mdui-col-md-4 " v-show="info.qqqrcode">
                    <img src="http://<?php echo $_SERVER['HTTP_HOST']; ?>/images/z.jpg" style="width:100%;height:100%" />
                </div>
                <div class="mdui-col-md-4 " v-show="info.qqqrcode">
                    <img src="http://<?php echo $_SERVER['HTTP_HOST']; ?>/images/Logopit_1636029952510.jpg" style="width:100%;height:100%" />
                </div>
                <div class="mdui-col-md-4 " v-show="info.qqqrcode">
                    <img src="http://<?php echo $_SERVER['HTTP_HOST']; ?>/images/PicsArt_11-04-09.02.35.png" style="width:100%;height:100%" />
                </div>
            </div>
        </div>
    </div>
</div>


<?php require "footer.html";?>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/mdui.min.js"></script>
<script src="./assets/js/index.js"></script>
<script src="./assets/js/vue.js"></script>
<script>
    let about = new Vue({
        el: '#about',
        data: {
            info: [],
        },
        created() {
            fetch('./Data/api.php?type=getUserInfo')
                .then(response => response.json())
                .then(json => {
                    this.info = json.data;
                })
        }
    });
</script>
<script>
var OriginTitile = document.title,
titleTime;
document.addEventListener("visibilitychange",
function() {
    if (document.hidden) {
        
        document.title = "页面已崩溃！点击恢复！";
        clearTimeout(titleTime)
    } else {
        
        document.title = "(/≧▽≦/)咦！又好了！ " + OriginTitile;
        titleTime = setTimeout(function() {
            document.title = OriginTitile
        },
        2000)
    }
});
</script>
<script>
$(window).scroll(function() {
    var a = $(window).scrollTop(),
    c = $(document).height(),
    b = $(window).height();
    scrollPercent = a / (c - b) * 100;
    scrollPercent = scrollPercent.toFixed(1);
    $("#percentageCounter").css({
        width: scrollPercent + "%"
    });
}).trigger("scroll");
</script>
<div class="wrapper">
    <span class="line"></span>
    <span class="content">我也是有底线的（＞_＜）</span>
    <span class="line"></span>
</div>
</body>

</html>